.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.logo {
    position: fixed;
    left: 20px;
    width: 100px;
}

.avatar {
    position: fixed;
    right: 20px;
    width: 30px;
}

.list {
    display: flex;
    gap: 1rem;
    margin-left: 110px;
    padding-top: 0.5rem;
  }
  
  .list a {
    text-decoration: none;
    color: white;
    font-weight: 600;
  }
  
  .list a:hover { color: red}
  .list a.active {
    color: rgb(255, 8, 8);
  }
  

